body {
        font-family: sans-serif;
      }
      
      .container {
        display: inline-flex;
      }
      
      #showImport {
        height: 100px;
        width: 100px;
        margin: 5px;
        cursor: pointer;
      }
      
      #file-upload-button {
        height: 100px;
        width: 100px;
        margin: 5px;
        cursor: pointer;
      }
      
      #upload {
        height: 100px;
        width: 100px;
        margin: 5px;
        cursor: pointer;
      }
      
      #submitButton {
        height: 100px;
        width: 100px;
        margin: 5px;
        cursor: pointer;
      }
      
      button:active {
        background-color: red;
      }
      
      a:active {
        background-color: yellow;
      }

      #right{
        border: solid royalblue 2px;
        height: 60vh;
        width: 45vw;
        float: right;
      }

      #left{
        border: solid royalblue 2px;
        height: 60vh;
        width: 45vw;
        float: left;
      }

      #bottom{
        border: solid royalblue 2px;
        height: 5vh;
        width: 100vw;
        position:absolute;
        bottom:20vh;
      }
      